html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #00ffff;
}

#canvas-1 {
    width: 100%;
    height: 100%;
    background-color: #4620b6;
}